@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.text-area {
    -fx-font-size: 28px;
    -fx-font-family: "Press Start 2P";
    -fx-background-image: "";
    -fx-text-alignment: center;
    -fx-background-color: white;
    -fx-border-color: black;
}

.button {
    -fx-font-size: 11;
    -fx-font-family: "Press Start 2P";
    -fx-background-color: white;
    -fx-border-color: black;
}
